#formContainer{
    border: 2px solid rgb(27, 11, 121);
    padding: 30px;
} 
.label-form {
    font-weight: bolder;
    width: 100px;
    padding-right: 30px;
    float: left;
}
.container-button{ 
    text-align:center ;
}
.send-button{
    font-size: 15px;
    background-color: blue;
    color: white;
    border: 1px solid red;
    border-radius:10px;
    padding: 15px;
}
.send-button:hover{
    cursor: pointer;
    background-color: aqua;
}
