.menu {
    margin: 0px;
    background-color: rgb(4, 216, 4);
    width: 300px;
    padding: 50px;
    height: auto;
 }

body {
    color: white;
    font-family: 'Segoe UI' ;
    font-size: 40px;
    flex-direction: column;
}    
body { 
    background-color: white;
    height: 100px;
    width: 100%;
}

.menu a:visited{
color: rgb(255, 0, 0);
} 
