.menu {
    margin: 2px;
    background-color: rgb(14, 227, 14);
    width: 600px;
    padding: 50px;
    height: 600px;
}

body {
    color: white;
    font-family:'Segoe UI' ;
    font-size: 50px;
    flex-direction: column;
}    

.menu a:hover{
    color: rgb(255, 115, 0);
} 

.menu a:visited {
    color:greenyellow
}

